# Node
node_modules/
**/node_modules
**/.next
**/dist
.pnpm-store

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build
dist/
coverage/

# Next (monorepo safety)
.next/